$light-theme: (
  "primary": #f0f0f3,
  "secondary": #1E2623,
  "third": #34403B,
  "fourth": #65736E,
  "fifth": #0D0D0D
);

$dark-theme: (
  "primary": #0D0D0D,
  "secondary": rgb(169, 194, 187),
  "third": #1E2623,
  "fourth": rgb(182, 204, 196),
  "fifth": #34403B
);

$test: #000;

$color: rgb(52, 64, 59)